body{
    margin: 0;
}

.main_container{
    display: flex;
    justify-content: center;
}
.main{
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    width: 30px;
}
