*{
    font-size: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5{
    margin: 0px;
}

body{
    margin: 0;
}

.main_container{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    background-image: url(img/mountain.jpg);
}

.first_Section{
    height: 100%;
}

.main{
    width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo{
    width: 30px;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px 0 0;
    color: #CCCCCC;
}

.name{
    width: 600px;
    margin: 100px 0px 50px 0px;
}

.name h1{
    font-size: 75px;
}

ins{
    font-size: inherit;
    text-decoration: none;
    color: #00D646;
}

.profession{
    width: 350px;
}

.profession p{
    font-size: 30px;
}

.cv_block{
    display: flex;
    flex-direction: column;
    background-color: #333B50;
    width: 900px;
    height: 600px;
}

.cv_block img{
    width: 50px;
}